#banner {
    background-image: linear-gradient(120deg, #91C4FF 0%, #F0F7FF 87%);
    position: relative;
    width: 100%;
    height: 950px;
  }
  
  /* #cloud-scroll {
    background: url(https://cdn-image.travelandleisure.com/sites/default/files/styles/1600x1000/public/1485547918/new-york-city-skyline-BIGCITY0117.jpg?itok=po0Op8ou) repeat-x;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    position: absolute;
    -webkit-animation: 900000s backgroundScroll infinite linear;
    -moz-animation: 900000s backgroundScroll infinite linear;
    -o-animation: 900000s backgroundScroll infinite linear;
    -ms-animation: 900000s backgroundScroll infinite linear;
    animation: 900000s backgroundScroll infinite linear;
  } */
  
  @-webkit-keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }
  
  @keyframes backgroundScroll {
    from {
      background-position: 0 0;
    }
    to {
      background-position: -99999999px 0;
    }
  }

  html{
    font-size: 10px;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: (244,244,244);
    color: #333;
}
p{
    font-size: 1.6rem;
}
small{
    font-size: 1.2rem;
}
.container{
    margin: 0,auto;
    max-width: 1000px;
    padding: 40px;
}
.title{
    font-size: 4.4rem;
    text-align: center;
}
.form{
    display: grid;
}
.label{
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
    color: #fff;
}
.input{
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    line-height: 0.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}
.button{
    background-color: rgba(0,0,0,0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px solid rgba(0,0,0,0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}
.button:hover{
    background-color: rgba(0,0,0,0.85);
}

@media (min-width: 786px){
    .form{
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }
    .input{
        margin-bottom: 0;
    }
}

.card-list{
    margin-top: 4rem;
}

.card{
    padding: 2rem 4rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    margin-bottom: 2rem;
    background-color: white;
}
.card--title{
    margin-bottom: 0.5rem;
    font-size: 3.2rem;
}
.card--image{
    margin: 0 auto;
    display: block;
}